[Desktop Entry]
Name=Artemis 2
Exec=env WINEPREFIX="/home/artemis/.wine" wine C:\\\\windows\\\\command\\\\start.exe /Unix /home/artemis/.wine/dosdevices/c:/users/Public/Desktop/Artemis\\ 2.lnk
Type=Application
StartupNotify=true
Path=/home/artemis/.wine/dosdevices/c:/Program Files/Artemis2
Icon=990C_Artemis.0
Name[en_US]=Artemis 2.1
